[flake8]
# /.flake8

max-line-length = 92
ignore =
    # E402, module level import not at top of file
    E402,
    # E261, at least two spaces before inline comment
    E261

exclude =
        .git,
        __pycache__
count = True
